<section>
  <div class="alert alert-success" role="alert">
    You are viewing this because you are logged in and you have 'admin' role.
  </div>
  <%= link_to "Back to Home", dashboard_path %>
</section>
