<div class="redirecting">Redirecting...</div>
<%= button_to 'Login', '/auth/auth0', method: :post,  style: "display:none;", id: 'redirect' %>
<script>document.getElementById('redirect').form.submit()</script>
<noscript><style type="text/css"> #redirect { display:block !important; } .redirecting { display: none; }</style></noscript>