<section class="jumbotron text-center">
  <h2><img class="jumbo-thumbnail" src="https://cdn.auth0.com/styleguide/1.0.0/img/badge.svg"></h2>
  <h1>RoR Auth0 Sample</h1>
  <p>Step 7 - Multifactor authentication (MFA).</p>
  <a class="btn btn-success btn-lg" onclick="signin()">Login</a>
</section>
