<section class="jumbotron  text-center">
  <h2><img class="jumbo-thumbnail" src="https://cdn.auth0.com/styleguide/1.0.0/img/badge.svg"/></h2>
  <h1>You are in :) app 2</h1>
  <a class="btn btn-success btn-lg" href="http://localhost:3000/auth/sso?connection=Username-Password-Authentication&target_url=/dashboard">Open App1</a>
  <a class="btn btn-success btn-lg" href="/auth/logout">Logout</a>
</section>
