<section class="jumbotron  text-center">
  <h2><img class="jumbo-thumbnail" src="<%= @user[:info][:image] %>"/></h2>
  <h1>Welcome, <%= @user[:info][:name] %></h1>
</section>
<section class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Normalized User Profile</div>
    <div class="panel-body">
      <pre><%= JSON.pretty_generate(@user[:info]) %></pre>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Full User Profile</div>
    <div class="panel-body">
      <pre><%= JSON.pretty_generate(@user[:extra][:raw_info]) %></pre>
    </div>
  </div>
</section>
